parameters:
	ignoreErrors:
		-
			message: '#^Parameter \$field of method App\\Models\\Post\:\:__construct\(\) has invalid type App\\Models\\Field\.$#'
			identifier: class.notFound
			count: 1
			path: expansa-cms/app/Models/Post.php

		-
			message: '#^Property App\\Models\\Post\:\:\$field has unknown class App\\Models\\Field as its type\.$#'
			identifier: class.notFound
			count: 1
			path: expansa-cms/app/Models/Post.php

		-
			message: '#^Method App\\Post\\Status\:\:register\(\) should return object but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: expansa-cms/app/Post/Status.php

		-
			message: '#^Undefined variable\: \$dayofmonth$#'
			identifier: variable.undefined
			count: 3
			path: expansa-cms/app/Query/Query.php

		-
			message: '#^Undefined variable\: \$dayofweek$#'
			identifier: variable.undefined
			count: 3
			path: expansa-cms/app/Query/Query.php

		-
			message: '#^Undefined variable\: \$dayofyear$#'
			identifier: variable.undefined
			count: 3
			path: expansa-cms/app/Query/Query.php

		-
			message: '#^Undefined variable\: \$human_date_time$#'
			identifier: variable.undefined
			count: 3
			path: expansa-cms/app/Query/Query.php

		-
			message: '#^Undefined variable\: \$week$#'
			identifier: variable.undefined
			count: 3
			path: expansa-cms/app/Query/Query.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: expansa-cms/expansa/Database/Model.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: expansa-cms/expansa/Database/Model/Attribute.php

