@import '../constants/index.scss';

.btn {
  color: inherit;
  font: inherit;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  padding: 0 1em;
  outline: 0;
  gap: 0.3em !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  min-width: fit-content;
  width: fit-content;
  border-radius: 0.6em;
  background-color: transparent;
  background-image: radial-gradient(100% 100% at 15% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(40% 30% at 50% 0%, hsl(0deg 0% 100% / 15%) 0, hsl(0deg 0% 100% / 0%) 100%), radial-gradient(40% 30% at 50% 50%, hsl(0deg 0% 100% / 15%) 0, hsl(0deg 0% 100% / 0%) 100%);
  text-decoration: none;
  transition: background-color 0.15s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  > * {
    font-size: inherit;
  }

  &:hover {
    background-color: var(--expansa-bg-universal);
  }

  &:active {
    border-color: rgb(27 31 36 / 15%);
    background-color: var(--expansa-bg-hover);
  }

  @each $suffix, $properties in $btnSizes {
    &#{$suffix} {
      @each $property, $value in $properties {
        #{$property}: #{$value};
      }
    }
  }

  &--primary {
    border-color: var(--expansa-primary);
    background-color: var(--expansa-primary);
    color: var(--expansa-white);
    box-shadow: 0 .75px .75px #fff3 inset, 0 -.75px .75px #0003 inset;

    &:hover {
      background-color: var(--expansa-primary-hover);
      border-color: var(--expansa-primary-hover);
      color: var(--expansa-white);
    }

    &:active {
      background-color: var(--expansa-primary-active);
      border-color: var(--expansa-primary-active);
    }
  }

  &--success {
    border-color: var(--expansa-success);
    background-color: var(--expansa-success);
    color: var(--expansa-white);
    box-shadow: 0 .75px .75px #fff3 inset, 0 -.75px .75px #0003 inset;

    &:hover {
      background-color: var(--expansa-success-hover);
      border-color: var(--expansa-success-hover);
      color: var(--expansa-white);
    }

    &:active {
      background-color: var(--expansa-success-active);
      border-color: var(--expansa-success-active);
    }
  }

  &--danger {
    border-color: var(--expansa-danger);
    background-color: var(--expansa-danger);
    color: var(--expansa-white);
    box-shadow: 0 .75px .75px #fff3 inset, 0 -.75px .75px #0003 inset;

    &:hover {
      background-color: var(--expansa-danger-hover);
      border-color: var(--expansa-danger-hover);
      color: var(--expansa-white);
    }

    &:active {
      background-color: var(--expansa-danger-active);
      border-color: var(--expansa-danger-active);
    }
  }

  &--outline {
    border: 1px solid var(--expansa-border);
    background-color: var(--expansa-white) !important;

    &:hover {
      background-color: var(--expansa-bg);
    }

    &:active {
      border-color: rgb(27 31 36 / 15%);
      background-color: var(--expansa-bg-hover);
    }
  }

  &--animated {
    transition: color 0.4s ease 0.05s, background-color 0.15s;

    &:before {
      content: attr(data-txt);
      position: absolute;
      margin: auto;
      width: 100%;
      text-align: center;
      opacity: 0;
      transform: scale(1.05);
      transition: color 0.5s, transform 0.5s, opacity 0.25s, background-color 0.15s;
    }

    &:hover {
      color: transparent;
      transition: color 0.2s, background-color 0.15s;
    }

    &:hover:before {
      color: var(--expansa-dark);
      opacity: 1;
      transform: scale(1);
      transition: color 0.2s, transform 0.4s, opacity 0.5s, background-color 0.15s;
    }

    &[class*="primary"]:hover:before,
    &[class*="success"]:hover:before,
    &[class*="danger"]:hover:before {
      color: var(--expansa-white);
    }
  }

  &--full {
    width: 100%;
    min-width: 100%;
  }

  &--load {
    position: relative;
    color: transparent !important;
    text-shadow: none !important;
    pointer-events: none;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      border: 1.5px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      color: var(--expansa-secondary);
      position: absolute;
      width: 1em;
      height: 1em;
      inset: 0;
      margin: auto;
      animation: spinner-border .5s linear infinite;
    }

    &[class*="primary"]:after,
    &[class*="success"]:after,
    &[class*="danger"]:after {
      color: var(--expansa-white);
    }
  }

  &--icon {
    padding: 0;
    aspect-ratio: 1 / 1;
  }

  &--rounded {
    border-radius: 3rem;
  }

  &[disabled],
  &[disabled]:active,
  &[disabled]:hover {
    background-color: #f7f7f7;
    color: var(--expansa-border-hover);
    pointer-events: none;
    transition: none;
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg)
  }
}