input {

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out;
  }

  &:not([type="checkbox"]),
  &:not([type="radio"]) {
    -webkit-text-fill-color: inherit !important;
    -webkit-background-clip: text;
    -webkit-box-shadow: 0 0 0 0 transparent inset !important;
    filter: none;

    &.empty {
      border-radius: 0;
      border: 0;
      background-color: transparent;
      resize: none;

      &:hover {
        border-color: var(--expansa-link);
        box-shadow: 0 0 0 1px var(--expansa-link);
      }
    }
  }

  &[x-datepicker],
  &[type="search"] {
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 100% center;
    padding-inline-end: 0.5rem !important;

    &:focus {
      background-image: none;
    }
  }

  &[type="search"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 256 256'%3E%3Cpath fill='%23ccced3' d='m232 216-47-48a92 92 0 1 0-17 17l48 48a12 12 0 0 0 17-17ZM44 112a68 68 0 1 1 68 68 68 68 0 0 1-68-68Z'/%3E%3C/svg%3E");
  }

  &[x-datepicker] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 256 256'%3E%3Cpath fill='%23ccced3' d='M208 28h-20v-4a12 12 0 0 0-24 0v4H92v-4a12 12 0 0 0-24 0v4H48a20 20 0 0 0-20 20v160a20 20 0 0 0 20 20h160a20 20 0 0 0 20-20V48a20 20 0 0 0-20-20ZM68 52a12 12 0 0 0 24 0h72a12 12 0 0 0 24 0h16v24H52V52ZM52 204V100h152v104Z'/%3E%3C/svg%3E");
  }

  &[type="file"] {
    padding: 0;
    background-color: rgba(0,0,0,0.03);
  }

  &[type="password"] {

    &::-ms-clear {
      width: 0;
      height: 0;
      display: none;
    }

    &::-ms-reveal {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &[type="date"] {

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    position: relative;
    border-radius: calc(var(--expansa-border-radius) / 1.5);
    background-color: var(--expansa-white);
    border: 1px solid var(--expansa-border);
    clear: none;
    cursor: pointer !important;
    vertical-align: text-top;
    height: 18px;
    width: 18px;
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    padding: 0;
    display: inline-block;
    -webkit-background-clip: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:not(:checked):focus {
      border-color: var(--expansa-border);
      box-shadow: none;
    }
  }

  &[type="checkbox"] {
    background-repeat: no-repeat;
    background-position: center;

    &:checked {
      background-size: 0.675rem;
      background-color: var(--expansa-primary);
      border-color: var(--expansa-primary);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='10' fill='none' viewBox='0 0 15 10'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='m0 4 2-2.2 4.4 4L11.8 0 14 2l-7.4 8L0 4Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }

  &[type="radio"] {
    border-radius: 100% !important;
    transition: all .1s linear;

    &:checked {
      border: 4px solid var(--expansa-primary);
    }
  }
}